.Position_div {
    display: flex;
    justify-content: center;
    margin: 43px 0;
    position: relative;
}

.BannerHome_div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 223px;
    max-width: 1240px;
    border-radius: 25px;
    
    & h1 {
        font-size: clamp(24px, 5vw, 48px);
        color: white;
        font-weight: 500;
        z-index: 3;
        line-height: 24px;
        margin: 0 20px;
    }
}  
.BannerHome_div_img {
        background: url("../assets/BannerHomeDesktop.jpg");
        background-size: cover;
        height: 223px;
        width: 100%;
        max-width: 1240px;
        border-radius: 25px;
        position: absolute;
        z-index: 1;
    }
.BannerHome_div_dark {
        background-color: black;  
        height: 223px;
        width: 100%;
        max-width: 1240px;
        position: absolute;
        mix-blend-mode: darken;
        opacity: 0.3;
        border-radius: 25px;
        z-index: 2;
}
    


@media screen and (max-width: 500px){
    .Position_div {
        margin: 20px 0;
    }
    .BannerHome_div {
        height: 111px;
        & h1 {
            font-weight: 400;
        }
    }
    .BannerHome_div_img {
        background: url("../assets/BannerHomeMobil.jpg");
        background-size: cover;
        height: 111px;
        border-radius: 10px;
    }

    .BannerHome_div_dark {
        height: 111px;
        border-radius: 10px;
        
}

}